/* colors */
/* Mughal green = #315C2B */
/* Persian Red = #C84630 */
/* Harvest Gold = #E59500 */
/* Gainsboro = #E5DADA */
/* sidebar grey = #282c34 */
/* end colors */

body, html {
  margin: 0px;
  padding: 0px;
  background-color: #E5DADA;
  color: #282c34;
}

.window {
  display: flex;
}

.side-bar {
  flex-grow: 1;
  max-width: 20%;
  min-width: 20vw;
  height: 100vh;
  overflow: auto;
  background-color: #282c34;
  color: #abb2bf;
  font-size:14px;
}
.side-bar h1 {
  text-align: center;
}
.completed-notes {
  flex-grow:1;
  position: fixed;
  bottom: 0;
  max-width: 18%;
  min-width: 19vw;
  overflow: auto;
  background-color: #282c34;
  color: #abb2bf;
  font-size:14px;
  padding: 4px;
}

.user-control-container {
  min-height: 15px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #21252b;
}

.main-work-space {
  flex-grow: 4;
  max-width: 80%;
  height:100vh;
  overflow: auto;
}
.main-work-space h1 {
  text-align: center;
}

.note-display {
  width: 90%;
  margin: 15px auto;
  background-color: white;
  margin-bottom: 15px;
  padding: 15px;
}
.note-display-footer {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px lightgrey solid;
}

#subject-container {
  margin-bottom: 15px;
}

#subject-label {
  font-weight: bold;
  margin-right: 5px;
}

#company-label {
  font-weight: bold;
  margin-right: 5px;
  margin-left: 15px;
}

#note-body-container {
  display: flex;
  min-height: 300px;
}

#body-label {
  margin-right: 15px;
  font-weight: bold;
}

.header-bar {
 min-height: 45px; 
 padding: none;
 margin: 0px;
 position: static; 
}

.search {
  /* float: right; */
  /* height: 100vh; */
  max-width: 20%;
  min-width: 20vw;
  /* overflow: auto; */
  /* background-color: #282c34; */
  /* color: #abb2bf; */
  /* font-size:14px; */
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
  background-color: #282c34;
  color: #abb2bf;
  font-size:14px;

}

.react-autosuggest__input {
  width: 100%;
  height: 20px;
  margin-top: 15px;
  padding: 5px 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 16px;
  border: 1px solid #aaa;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  position: relative;
  top: -1px;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}



.header-bar-left {
  background-color: #282c34;
}

.header-title {
  text-align: center;
  display: block;
  padding-top: 12px;
  font-size: 20px;
}

.header-bar-btns {
  float: right;
}

.header-bar-btns span:hover { 
  color: #abb2bf;
  -webkit-text-stroke: 1px black;
}

.header-bar-btns span {
  margin-right: 15px;
  margin-top: 15px;
  font-size: 20px;
}

#note-btn {
  font-size: 20px;  
}

.note-block {
  min-height: 35px;
  border-bottom: 1px solid #21252b;
  padding: 10px 5px;
  cursor: pointer;
}

.notepad-container {
  width: 90%;
  margin: 15px auto;
}

.note {
  background-color: white;
  min-height: 300px;
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}

.button-container button {
  font-size: 16px;
  border-radius: 2px;
}

.button-container button span {
  margin-left: 5px;
}

.quill-toolbar {
  text-align: center;
}

.quill-contents.ql-container {
  font-size:14px;  
}

.input-container {
  padding: 5px;
  display: flex;
}

.close-btn {
  text-align: right;
  margin-left: auto;
}


.input-container input {
  border: none;
  padding: 0 10px;
  margin: 0;
  font-size: 14px;
  width: 165px;
  border-bottom: 1px solid black;
  background: none;
  margin-left: 5px;
}

